<!DOCTYPE html>
<html ng-app="hore" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <link href="css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

</head>


<body ng-controller="AddSurveyorController" class="nav-md">

  <div class="container body">
  <toaster-container></toaster-container>
    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2 ng-bind="authUser.name"></h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>&nbsp;</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-volume-up"></i> Announcement<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="announcement.html">Customer</a>
                    </li>
                    <li><a href="announcement-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="feed.html"><i class="fa fa-newspaper-o"></i>Feed</a>
                </li>
                <li><a href="surveyor.html"><i class="fa fa-users"></i>Surveyor</a>
                </li>
                <li><a href="project.html"><i class="fa fa-suitcase"></i>Project</a>
                </li>
                <li><a href="visit.html"><i class="fa fa-location-arrow"></i>Visit</a>
                </li>
                <li><a><i class="fa fa-envelope-o"></i> Message<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="message.html">Customer</a>
                    </li>
                    <li><a href="message-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="log.html"><i class="fa fa-archive"></i>Log</a>
                </li>
                <li><a><i class="fa fa-home"></i> Report<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="report-customer.html">Report Customer</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" ng-click="logout()">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt=""><span ng-bind="authUser.name"></span>
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li><a href="javascript:;">  Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li><a href="" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
            <div class="x_title">
              <h2>Add New Surveyor</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row">
              <form ng-submit="register(surveyor)" enctype="multipart/form-data">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">E-mail *</label>
                  <input type="email" placeholder="E-Mail" class="form-control" ng-model="surveyor.email" required>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Full Name *</label>
                  <input type="text" placeholder="Full Name" class="form-control" ng-model="surveyor.name" required>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Password *</label>
                  <input type="password" placeholder="Password" class="form-control" ng-model="surveyor.password" required>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Address Line 1 *</label>
                  <input type="text" placeholder="Address Line 1" class="form-control" ng-model="surveyor.firstLine" required>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">State *</label>
                  <input type="text" placeholder="State" class="form-control" ng-model="surveyor.state" required>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Address Line 2 *</label>
                  <input type="text" placeholder="Address Line 2" class="form-control" ng-model="surveyor.secondLine" required>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Postal Code *</label>
                  <input type="text" placeholder="Postal Code" class="form-control" ng-model="surveyor.postal_code" required>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">City *</label>
                  <input type="text" placeholder="City" class="form-control" ng-model="surveyor.city" required>
                  <input type="hidden" id="currentUser">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Phone *</label>
                  <input type="text" placeholder="Phone" class="form-control" ng-model="surveyor.phone" required>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Mobile *</label>
                  <input type="text" placeholder="Mobile" class="form-control" ng-model="surveyor.mobile" required>
                </div>
                <div class="form-group">
                  <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-10">
                    <a href="surveyor.html" class="btn btn-primary" id="cancelAddFeed">Cancel</a>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
                </form>
              </div>

            </div>
          </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>
        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
  <script type="text/javascript" src="js/angular-datatables.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="js/icheck/icheck.min.js"></script>

  <script src="js/custom.js"></script>


  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>

  <script type="text/javascript">
      var app = angular.module("hore", ["firebase", "ngAnimate", "toaster"]);

      app.controller("AddSurveyorController", ["$scope", "$firebaseAuth", "$firebaseObject", "toaster", 
        function($scope, $firebaseAuth, $firebaseObject, toaster) {
          var ref = new Firebase("https://hore-20116.firebaseio.com/");
          auth = $firebaseAuth(ref);
          var currentDate = new Date();

          auth.$onAuth(function(authData) {
            if (authData) {
              // var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+authData.uid);
              var obj = $firebaseObject(ref.child('profiles').child(authData.uid));
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                  document.getElementById("currentUser").value = $scope.authUser.name;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

          $scope.logout = function()
          {
              var currentUser = document.getElementById("currentUser").value;
              var currentDate = new Date();
              var log = {
                description: currentUser+" has logged out.",
                date: -currentDate.getTime()
              };

              ref.child('logs').push(log);
              auth.$unauth();
              window.location.href = 'login.html';
          }

          $scope.register = function(surveyor) {
            
            $scope.authObj = $firebaseAuth(ref);
            if($scope.surveyor === undefined)
            {
                toaster.pop('error', "Please fill the missing field.");
                return;
            }
            else if($scope.surveyor.email === undefined || $scope.surveyor.email === '')
            {
                toaster.pop('error', "Please fill the email field.");
                return;
            }
            else if($scope.surveyor.name === undefined || $scope.surveyor.name === '')
            {
                toaster.pop('error', "Please fill the fullname field.");
                return;
            }
            else if($scope.surveyor.password === undefined || $scope.surveyor.password === '')
            {
                toaster.pop('error', "Please fill the password field.");
                return;
            }
            
            else if($scope.surveyor.firstLine === undefined || $scope.surveyor.firstLine === '')
            {
                toaster.pop('error', "Please fill the address line 1 field.");
                return;
            }

            else if($scope.surveyor.state === undefined || $scope.surveyor.state === '')
            {
                toaster.pop('error', "Please fill the state field.");
                return;
            }

            else if($scope.surveyor.secondLine === undefined || $scope.surveyor.secondLine === '')
            {
                toaster.pop('error', "Please fill the address line 2 field.");
                return;
            }

            else if($scope.surveyor.postal_code === undefined || $scope.surveyor.postal_code === '')
            {
                toaster.pop('error', "Please fill the postal code field.");
                return;
            }

            else if($scope.surveyor.city === undefined || $scope.surveyor.city === '')
            {
                toaster.pop('error', "Please fill the city field.");
                return;
            }

            else if($scope.surveyor.phone === undefined || $scope.surveyor.phone === '')
            {
                toaster.pop('error', "Please fill the phone field.");
                return;
            }

            else if($scope.surveyor.mobile === undefined || $scope.surveyor.mobile === '')
            {
                toaster.pop('error', "Please fill the mobile field.");
                return;
            }
            toaster.pop('success', "Surveyor has been created");
            $scope.authObj.$createUser({
              email: surveyor.email,
              password: surveyor.password
            }).then(function(authData) {
              
              var surveyorRef = new Firebase("https://hore-20116.firebaseio.com/profiles/"+authData.uid);
              var currentUser = document.getElementById("currentUser").value;

              var log = {
                description: currentUser+" created a new surveyor.",
                date: -currentDate.getTime(),
              };
              ref.child('logs').push(log);

              var profile = {
                aCity: $scope.surveyor.city,
                aFirstLine: $scope.surveyor.firstLine,
                aPostalCode: $scope.surveyor.postal_code,
                aSecondLine: $scope.surveyor.secondLine,
                aState: $scope.surveyor.state,
                cHome: $scope.surveyor.phone,
                cMobile: $scope.surveyor.mobile,
                emailAddress: $scope.surveyor.email,
                name: $scope.surveyor.name,
                numberOfProjects: 0,
                profilePicture: "",
                rate: 0,
                type: 1
              };
              
              surveyorRef.set(profile, function(error) {
                if (error) {
                  // Display toast here
                } else {
                  window.location.href="surveyor.html";
                }
              });
            }).catch(function(error) {
              // Display toast here
            });

          }

      }]);
    </script>
</body>

</html>
