<!DOCTYPE html>
<html ng-app="hore" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <link href="css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <link href="css/editor/external/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="css/editor/index.css" rel="stylesheet">
  <!-- select2 -->
  <link href="css/select/select2.min.css" rel="stylesheet">

</head>


<body ng-controller="SendMessageController" class="nav-md">

  <div class="container body">
  <toaster-container></toaster-container>
    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2 ng-bind="authUser.name"></h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>&nbsp;</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-volume-up"></i> Announcement<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="announcement.html">Customer</a>
                    </li>
                    <li><a href="announcement-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="feed.html"><i class="fa fa-newspaper-o"></i>Feed</a>
                </li>
                <li><a href="surveyor.html"><i class="fa fa-users"></i>Surveyor</a>
                </li>
                <li><a href="project.html"><i class="fa fa-suitcase"></i>Project</a>
                </li>
                <li><a href="visit.html"><i class="fa fa-location-arrow"></i>Visit</a>
                </li>
                <li><a><i class="fa fa-envelope-o"></i> Message<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="message.html">Customer</a>
                    </li>
                    <li><a href="message-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="log.html"><i class="fa fa-archive"></i>Log</a>
                </li>
                <li><a><i class="fa fa-home"></i> Report<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="report-customer.html">Report Customer</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" ng-click="logout()">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt=""><span ng-bind="authUser.name"></span>
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li><a href="javascript:;">  Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li><a href="" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
            <div class="x_title">
              <h2>Add Todo</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <form id="addFeedForm" ng-submit="sendAssign(send)">

                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                  <label for="surveyor">Surveyor *</label>
                    <select ng-cloak class="form-control" ng-model="send.surveyorId">
                      <option ng-cloak value="">Please choose the surveyor</option>
                      <option ng-cloak ng-repeat="surveyor in surveyors" value="{{surveyor}}">{{surveyor.name}}</option>
                    </select>
                </div><br>

                <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                  <label for="surveyor">Project Address *</label>
                    <select ng-cloak class="form-control" ng-model="send.projectAddress">
                      <option ng-cloak value="">Please choose the address</option>
                      <option ng-cloak ng-repeat="projectAddress in data" value="{{projectAddress.aFirstLine}} , {{projectAddress.aSecondLine}} , {{projectAddress.aCity}} , {{projectAddress.aState}} , {{projectAddress.aPostalCode}}">{{projectAddress.aFirstLine}} , {{projectAddress.aSecondLine}} , {{projectAddress.aCity}} , {{projectAddress.aState}} , {{projectAddress.aPostalCode}}</option>
                    </select>
                </div><br>

                <div class="control-group">
                  <div class="controls">

                    <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                      <label for="surveyor">Date *</label>
                      <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="Date" aria-describedby="inputSuccess2Status2">
                      <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                      <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                      <input type="hidden" id="getCalender">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="title">Title *</label>
                  <input id="titles" type="text" placeholder="Title" class="form-control">
                  <input type="hidden" id="currentUserId">
                  <input type="hidden" id="currentUserName">
                </div>
                
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="caption">Message *</label>
                  <textarea id="message" class="form-control" rows="3" ng-model="send.content"></textarea>
                </div>

                <div class="form-group">
                  <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-10">
                    <a href="message.html" class="btn btn-primary" id="cancelAddFeed">Cancel</a>
                    <button type="submit" class="btn btn-success" id="submitAddFeed">Submit</button>
                  </div>
                </div>
                </form>
              </div>

            </div>
          </div>
            </div>
          </div>
        </div>
        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
  <script type="text/javascript" src="js/angular-datatables.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="js/icheck/icheck.min.js"></script>

  <script src="js/custom.js"></script>


  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>
  <script src="js/tags/jquery.tagsinput.min.js"></script>
  <!-- switchery -->
  <script src="js/switchery/switchery.min.js"></script>
  <!-- daterangepicker -->
  <script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
  <!-- richtext editor -->
  <script src="js/editor/bootstrap-wysiwyg.js"></script>
  <script src="js/editor/external/jquery.hotkeys.js"></script>
  <script src="js/editor/external/google-code-prettify/prettify.js"></script>
  <!-- select2 -->
  <script src="js/select/select2.full.js"></script>
  <!-- form validation -->
  <script type="text/javascript" src="js/parsley/parsley.min.js"></script>
  <!-- textarea resize -->
  <script src="js/textarea/autosize.min.js"></script>
  <script type="text/javascript" src="js/autocomplete/countries.js"></script>
  <script src="js/autocomplete/jquery.autocomplete.js"></script>

  <script type="text/javascript">
      var app = angular.module("hore", ["firebase", "ngAnimate", "toaster"]);
  </script>
  <script src="bower_components/ng-image-compress/ng-image-compress.js"></script>
  <script type="text/javascript">
      app.controller("SendMessageController", ["$scope", "$firebaseAuth", "$firebaseObject", "$firebaseArray", "toaster", 
        function($scope, $firebaseAuth, $firebaseObject, $firebaseArray, toaster) {
            var ref = new Firebase("https://hore-20116.firebaseio.com");
            auth = $firebaseAuth(ref);
            var dateNow = new Date();

            document.getElementById('getCalender').value = dateNow;

            $scope.data = [];

            var projectRef = new Firebase("https://hore-20116.firebaseio.com/projects");
            // Retrieve new posts as they are added to our database
            projectRef.on("child_added", function(snapshot, prevChildKey) {
              var key = snapshot.key();
              
              var projectDetailObj = $firebaseObject(projectRef.child(key));

              projectDetailObj.$loaded()
              .then(function (data) {
                
                  angular.forEach(data, function(value, key) {                      
                      $scope.data.push(value);
                  });
              })
              .catch(function (error) {

              });

            });

            $scope.surveyors = $firebaseArray(ref.child('profiles').orderByChild('type').equalTo(1));
            var param = window.location.hash.substring(1);
            var posUserId = param.indexOf("&");

            var uid = param.substring(1, posUserId);
            var userKey = param.substring(posUserId+2);
            $scope.uid = uid;
            $scope.userKey = userKey;

            auth.$onAuth(function(authData) {
              if (authData) {
                // var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+authData.uid);
                var obj = $firebaseObject(ref.child('profiles').child(authData.uid));
                obj.$loaded()
                  .then(function(data) {
                    $scope.authUser = data;
                    document.getElementById("currentUserId").value = $scope.authUser.$id;
                    document.getElementById("currentUserName").value = $scope.authUser.name;
                  })
                  .catch(function(error) {
                    // Display toast here
                  });
              } else {
                window.location.href="login.html";
              }
            });

            $scope.sendAssign = function(send)
            {
                var calenderValue = document.getElementById('getCalender').value;
                
                var convertedCalender = new Date(calenderValue);

                var dateInString = ("0" + convertedCalender.getDate()).slice(-2) + "-" + ("0"+(convertedCalender.getMonth()+1)).slice(-2) + "-" + convertedCalender.getFullYear();

                if(send === undefined)
                {
                    toaster.pop('error', "Please choose the surveyor.");
                    return;
                }
                if(send.surveyorId === undefined || send.surveyorId == "")
                {
                    toaster.pop('error', "Please choose the surveyor.");
                    return;
                }
                if(send.projectAddress === undefined || send.projectAddress == "")
                {
                    toaster.pop('error', "Please choose the address.");
                    return;
                }
                else if(calenderValue === undefined || calenderValue == "")
                {
                    toaster.pop('error', "Please choose the date.");
                    return;
                }
                else if(send.content === undefined || send.content == "")
                {
                    toaster.pop('error', "Please fill the message field.");
                    return;
                }
                toaster.pop('success', "Add Todo Success");

                var currentUserId = document.getElementById("currentUserId").value;
                var currentUserName = document.getElementById("currentUserName").value;
                var titles = angular.element('#titles').val();
                var currentDate = new Date();

                var surveyorValue = JSON.parse(send.surveyorId);

                var log = {
                description: currentUserName+" assign todo to "+ surveyorValue.name+".",
                date: -currentDate.getTime(),
                };
                ref.child('logs').push(log);

                var assign = {
                    title: titles,
                    message: send.content,
                    date: -convertedCalender.getTime(),
                    dateInString: dateInString,
                    status: 0,
                    lng: 0,
                    lat: 0,
                    address: send.projectAddress
                };

                // ref.child('todos').child(surveyorValue.$id).child(uid).push(assign);
                ref.child('todos').child(surveyorValue.$id).push(assign, function(error) {
                  if(error == null)
                  {
                      window.location.href = 'todo.html';
                  }
                  else
                  {
                    toaster.pop('error', 'Connection error please try again.')
                  }
                });
                
                // ref.child('projects').child(userKey).child(uid).update({surveyorId: surveyorValue.$id});

                
                // angular.forEach(message.surveyorId, function(value) {
                  
                // });
            }

            $scope.logout = function()
            {
                var currentUserName = document.getElementById("currentUserName").value;
                var currentDate = new Date();
                var log = {
                    description: currentUserName+" has logged out.",
                    date: -currentDate.getTime(),
                };
                ref.child('logs').push(log);
                auth.$unauth();
                window.location.href = 'login.html';
            }
      }]);
    </script>
    <script type="text/javascript">
    $(function() {
      'use strict';
      var countriesArray = $.map(countries, function(value, key) {
        return {
          value: value,
          data: key
        };
      });
      // Initialize autocomplete with custom appendTo:
      $('#autocomplete-custom-append').autocomplete({
        lookup: countriesArray,
        appendTo: '#autocomplete-container'
      });
    });
  </script>
  <script src="js/custom.js"></script>


  <!-- select2 -->
  <script>
    $(document).ready(function() {
      $(".select2_single").select2({
        placeholder: "Select a state",
        allowClear: true
      });
      $(".select2_group").select2({});
      $(".select2_multiple").select2({
        // maximumSelectionLength: 4,
        placeholder: "Choose the surveyor",
        allowClear: true
      });
    });
  </script>
  <!-- /select2 -->
  <!-- input tags -->
  <script>
    function onAddTag(tag) {
      alert("Added a tag: " + tag);
    }

    function onRemoveTag(tag) {
      alert("Removed a tag: " + tag);
    }

    function onChangeTag(input, tag) {
      alert("Changed a tag: " + tag);
    }

    $(function() {
      $('#tags_1').tagsInput({
        width: 'auto'
      });
    });
  </script>
  <!-- /input tags -->
  <!-- form validation -->
  <script type="text/javascript">
    $(document).ready(function() {
      $.listen('parsley:field:validate', function() {
        validateFront();
      });
      $('#demo-form .btn').on('click', function() {
        $('#demo-form').parsley().validate();
        validateFront();
      });
      var validateFront = function() {
        if (true === $('#demo-form').parsley().isValid()) {
          $('.bs-callout-info').removeClass('hidden');
          $('.bs-callout-warning').addClass('hidden');
        } else {
          $('.bs-callout-info').addClass('hidden');
          $('.bs-callout-warning').removeClass('hidden');
        }
      };
    });

    $(document).ready(function() {
      $.listen('parsley:field:validate', function() {
        validateFront();
      });
      $('#demo-form2 .btn').on('click', function() {
        $('#demo-form2').parsley().validate();
        validateFront();
      });
      var validateFront = function() {
        if (true === $('#demo-form2').parsley().isValid()) {
          $('.bs-callout-info').removeClass('hidden');
          $('.bs-callout-warning').addClass('hidden');
        } else {
          $('.bs-callout-info').addClass('hidden');
          $('.bs-callout-warning').removeClass('hidden');
        }
      };
    });
    try {
      hljs.initHighlightingOnLoad();
    } catch (err) {}
  </script>
  <!-- /form validation -->
  <!-- editor -->
  <script>
    $(document).ready(function() {
      $('.xcxc').click(function() {
        $('#descr').val($('#editor').html());
      });
    });

    $(function() {
      function initToolbarBootstrapBindings() {
        var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
            'Times New Roman', 'Verdana'
          ],
          fontTarget = $('[title=Font]').siblings('.dropdown-menu');
        $.each(fonts, function(idx, fontName) {
          fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
        });
        $('a[title]').tooltip({
          container: 'body'
        });
        $('.dropdown-menu input').click(function() {
            return false;
          })
          .change(function() {
            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
          })
          .keydown('esc', function() {
            this.value = '';
            $(this).change();
          });

        $('[data-role=magic-overlay]').each(function() {
          var overlay = $(this),
            target = $(overlay.data('target'));
          overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
        });
        if ("onwebkitspeechchange" in document.createElement("input")) {
          var editorOffset = $('#editor').offset();
          $('#voiceBtn').css('position', 'absolute').offset({
            top: editorOffset.top,
            left: editorOffset.left + $('#editor').innerWidth() - 35
          });
        } else {
          $('#voiceBtn').hide();
        }
      };

      function showErrorAlert(reason, detail) {
        var msg = '';
        if (reason === 'unsupported-file-type') {
          msg = "Unsupported format " + detail;
        } else {
          console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
          '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
      };
      initToolbarBootstrapBindings();
      $('#editor').wysiwyg({
        fileUploadError: showErrorAlert
      });
      window.prettyPrint && prettyPrint();
    });
  </script>
  <!-- /datepicker -->
  <script type="text/javascript">
    
    $(document).ready(function() {
      $('#single_cal2').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePickerIncrement: 30,
        format: 'DD MMMM YYYY HH:mm',
        showDropdowns: true,
        timePickerIncrement: 1,
        calender_style: "picker_2"
      }, function(start, end, label) {
        var tanggalan = moment(start).format();
        document.getElementById('getCalender').value = tanggalan;
      });
    });
  </script>
</body>

</html>