<!DOCTYPE html>
<html ng-app="hore" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <link href="css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

</head>


<body ng-controller="EditSupplierController" class="nav-md">

  <div class="container body">
  <toaster-container></toaster-container>
    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2 ng-bind="authUser.name"></h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>&nbsp;</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-volume-up"></i> Announcement<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="announcement.html">Customer</a>
                    </li>
                    <li><a href="announcement-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="feed.html"><i class="fa fa-newspaper-o"></i>Feed</a>
                </li>
                <li><a href="surveyor.html"><i class="fa fa-users"></i>Surveyor</a>
                </li>
                <li><a href="project.html"><i class="fa fa-suitcase"></i>Project</a>
                </li>
                <li><a href="visit.html"><i class="fa fa-location-arrow"></i>Visit</a>
                </li>
                <li><a><i class="fa fa-envelope-o"></i> Message<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="message.html">Customer</a>
                    </li>
                    <li><a href="message-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="log.html"><i class="fa fa-archive"></i>Log</a>
                </li>
                <li><a><i class="fa fa-home"></i> Report<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="report-customer.html">Report Customer</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" ng-click="logout()">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt=""><span ng-bind="authUser.name"></span>
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li><a href="javascript:;">  Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li><a href="" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
            <div class="x_title">
              <h2>Edit Surveyor</h2>
              <ul class="nav navbar-right panel_toolbox">
                
                <a href="" ng-click="remove(authUser.name)" class="btn btn-danger">Delete Surveyor</a>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row">
              <form ng-submit="submit(surveyor)">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="email" placeholder="E-Mail" class="form-control" ng-model="surveyor.emailAddress" disabled>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="Full Name" class="form-control" ng-model="surveyor.name">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="Address Line 1" class="form-control" ng-model="surveyor.aFirstLine">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="State" class="form-control" ng-model="surveyor.aState">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="Address Line 2" class="form-control" ng-model="surveyor.aSecondLine">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="Postal Code" class="form-control" ng-model="surveyor.aPostalCode">
                  <input type="hidden" id="currentUser">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="City" class="form-control" ng-model="surveyor.aCity">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="Phone" class="form-control" ng-model="surveyor.cHome">
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" placeholder="Mobile" class="form-control" ng-model="surveyor.cMobile">
                </div>
                <div class="form-group">
                  <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-10">
                    <a href="surveyor.html" class="btn btn-primary" id="cancelAddFeed">Cancel</a>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
                </form>
              </div>

            </div>
          </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>
        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
  <script type="text/javascript" src="js/angular-datatables.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="js/icheck/icheck.min.js"></script>

  <script src="js/custom.js"></script>


  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>

  <script type="text/javascript">
      var app = angular.module("hore", ["firebase", "toaster", "ngAnimate"]);

      app.controller("EditSupplierController", ["$scope", "$firebaseAuth", "$firebaseObject", "toaster", 
        function($scope, $firebaseAuth, $firebaseObject, toaster) {
          var authRef = new Firebase("https://hore-20116.firebaseio.com");
          auth = $firebaseAuth(authRef);
          var uid = window.location.hash.substring(1);
          var currentDate = new Date();

          $scope.logout = function()
          {
              var currentUser = document.getElementById("currentUser").value;
              var log = {
                description: currentUser+" has logout.",
                date: -currentDate.getTime(),
              };
              authRef.child('logs').push(log);
              auth.$unauth();
              window.location.href = 'login.html';
          }

          auth.$onAuth(function(authData) {
            if (authData) {
              // var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+authData.uid);
              var obj = $firebaseObject(authRef.child('profiles').child(authData.uid));
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                  document.getElementById("currentUser").value = $scope.authUser.name;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

          $scope.submit = function(surveyor) {
            
            var surveyorRef = new Firebase("https://hore-20116.firebaseio.com/profiles/"+uid);

            if($scope.surveyor === undefined)
            {
                toaster.pop('error', "Please fill the missing field.");
                return;
            }
            else if($scope.surveyor.emailAddress === undefined || $scope.surveyor.emailAddress === '')
            {
                toaster.pop('error', "Please fill the email field.");
                return;
            }
            else if($scope.surveyor.name === undefined || $scope.surveyor.name === '')
            {
                toaster.pop('error', "Please fill the fullname field.");
                return;
            }
            
            else if($scope.surveyor.aFirstLine === undefined || $scope.surveyor.aFirstLine === '')
            {
                toaster.pop('error', "Please fill the address line 1 field.");
                return;
            }

            else if($scope.surveyor.aState === undefined || $scope.surveyor.aState === '')
            {
                toaster.pop('error', "Please fill the state field.");
                return;
            }

            else if($scope.surveyor.aSecondLine === undefined || $scope.surveyor.aSecondLine === '')
            {
                toaster.pop('error', "Please fill the address line 2 field.");
                return;
            }

            else if($scope.surveyor.aPostalCode === undefined || $scope.surveyor.aPostalCode === '')
            {
                toaster.pop('error', "Please fill the postal code field.");
                return;
            }

            else if($scope.surveyor.aCity === undefined || $scope.surveyor.aCity === '')
            {
                toaster.pop('error', "Please fill the city field.");
                return;
            }

            else if($scope.surveyor.cHome === undefined || $scope.surveyor.cHome === '')
            {
                toaster.pop('error', "Please fill the phone field.");
                return;
            }

            else if($scope.surveyor.cMobile === undefined || $scope.surveyor.cMobile === '')
            {
                toaster.pop('error', "Please fill the mobile field.");
                return;
            }

            toaster.pop('success', "Surveyor has been edited.");
            var currentUser = document.getElementById("currentUser").value;
            var log = {
              description: currentUser+" edited a surveyor.",
              date: -currentDate.getTime(),
            };
            authRef.child('logs').push(log);

            var profile = {
              aCity: $scope.surveyor.aCity,
              aFirstLine: $scope.surveyor.aFirstLine,
              aPostalCode: $scope.surveyor.aPostalCode,
              aSecondLine: $scope.surveyor.aSecondLine,
              aState: $scope.surveyor.aState,
              cHome: $scope.surveyor.cHome,
              cMobile: $scope.surveyor.cMobile,
              emailAddress: $scope.surveyor.emailAddress,
              name: $scope.surveyor.name,
              profilePicture: $scope.surveyor.profilePicture
            };

            surveyorRef.update(profile, function(error) {
              if (error) {
                // Display toast here
              } else {
                window.location.href="surveyor.html";
              }
            });

          }

          $scope.remove = function(currentUser) {
            var surveyorRef = new Firebase("https://hore-20116.firebaseio.com/profiles/"+uid);
            toaster.pop('success', "Delete Success");
            var log = {
              description: currentUser+" deleted a surveyor.",
              date: -currentDate.getTime(),
            };
            authRef.child('logs').push(log);

            var profile = {
              type: 3
            };
            surveyorRef.update(profile, function(error) {
              if (error) {
                // Display toast here
              } else {
                window.location.href="surveyor.html";
              }
            });  
          }

          var ref = new Firebase("https://hore-20116.firebaseio.com/profiles/"+uid);
          var obj = $firebaseObject(ref);
          obj.$loaded()
            .then(function(data) {
              $scope.surveyor = data;
            })
            .catch(function(error) {
              // Display toast here
            });
      }]);
    </script>
</body>

</html>
