<!DOCTYPE html>
<html ng-app="hore" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <link href="css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

</head>


<body ng-controller="AddSurveyorController" class="nav-md">

  <div class="container body">
  <toaster-container></toaster-container>
    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2 ng-bind="authUser.name"></h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>&nbsp;</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-volume-up"></i> Announcement<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="announcement.html">Customer</a>
                    </li>
                    <li><a href="announcement-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="feed.html"><i class="fa fa-newspaper-o"></i>Feed</a>
                </li>
                <li><a href="surveyor.html"><i class="fa fa-users"></i>Surveyor</a>
                </li>
                <li><a href="project.html"><i class="fa fa-suitcase"></i>Project</a>
                </li>
                <li><a href="visit.html"><i class="fa fa-location-arrow"></i>Visit</a>
                </li>
                <li><a><i class="fa fa-envelope-o"></i> Message<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="message.html">Customer</a>
                    </li>
                    <li><a href="message-surveyor.html">Surveyor</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="log.html"><i class="fa fa-archive"></i>Log</a>
                </li>
                <li><a><i class="fa fa-home"></i> Report<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="report-customer.html">Report Customer</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" ng-click="logout()">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt=""><span ng-bind="authUser.name"></span>
                  <span class="fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li><a href="javascript:;">  Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li><a href="" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
            <div class="x_title">
              <h2>Edit Feed</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row">
              <form id="addFeedForm" enctype="multipart/form-data">
                <div class="col-md-55">
                  <div class="thumbnail">
                    <img id="feedPicture" style="width: 100%;" src="" alt="image" />
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="file-upload">File Upload</label>
                  <input type="file" id="file-upload" accept="image/*" image="image1" resize-max-height="1000" resize-max-width="1000" resize-quality="0.3" resize-type="image/jpg">
                  <input type="hidden" id="currentUser">
                  <input id="compressedImage" type="hidden" value="{{image1.compressed.dataURL}}"></input>
                </div>

                <br>
                <br>
                <br>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="title">Title *</label>
                  <input ng-model="feed.title" id="feedTitle" type="text" placeholder="Full Name" class="form-control" required>
                  <input type="hidden" id="currentImage">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="caption">Caption *</label>
                  <textarea ng-model="feed.caption" id="feedCaption" class="form-control" rows="3" required></textarea>
                </div>

                <div class="form-group">
                  <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-10">
                    <a href="feed.html" class="btn btn-primary" id="cancelAddFeed">Cancel</a>
                    <button type="submit" class="btn btn-success" id="submitAddFeed">Submit</button>
                  </div>
                </div>
                </form>
              </div>

            </div>
          </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>
        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
  <script type="text/javascript" src="js/angular-datatables.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="js/icheck/icheck.min.js"></script>

  <script src="js/custom.js"></script>


  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>

  <script type="text/javascript">
      var app = angular.module("hore", ["firebase", "ngAnimate", "toaster"]);
  </script>
  <script src="bower_components/ng-image-compress/ng-image-compress.js"></script>
  <script type="text/javascript">
      app.controller("AddSurveyorController", ["$scope", "$firebaseAuth", "$firebaseObject", "toaster", 
        function($scope, $firebaseAuth, $firebaseObject, toaster) {
            var ref = new Firebase("https://hore-20116.firebaseio.com");
            var filename;
            var uid = window.location.hash.substring(1);
            var currentDate = new Date();
            auth = $firebaseAuth(ref);

            auth.$onAuth(function(authData) {
              if (authData) {
                // var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+authData.uid);
                var obj = $firebaseObject(ref.child('profiles').child(authData.uid));
                obj.$loaded()
                  .then(function(data) {
                    $scope.authUser = data;
                    document.getElementById("currentUser").value = $scope.authUser.name;
                  })
                  .catch(function(error) {
                    // Display toast here
                  });
              } else {
                window.location.href="login.html";
              }
            });

            // document.getElementById("file-upload").addEventListener('change', saveimage, false);
            document.getElementById("addFeedForm").addEventListener('submit', addFeed, false);

            // function saveimage(e1) {
            //     filename = e1.target.files[0];
            // }

            function addFeed() {
              var title = document.getElementById("feedTitle").value;
              var caption = document.getElementById("feedCaption").value;
              var currentUser = document.getElementById("currentUser").value;
              var compressedImage = document.getElementById("compressedImage").value;
              var currentDate = new Date();
              // var fr = new FileReader();
              //   fr.onload = function (res) {
              //       var gambar = res.target.result;
              //       var pos = gambar.indexOf(",");
              //       var gambarFinal = gambar.substring(pos+1);

              //       var feed = $firebaseObject(ref.child("feeds").child(uid));
              //       feed.image = gambarFinal;
              //       feed.title = title;
              //       feed.caption = caption;

              //       var log = {

              //         createdBy: currentUser,
              //         description: currentUser+" edited a feed.",
              //         date: currentDate.getTime(),
              //       };
              //       ref.child('logs').push(log);

              //       feed.image = gambarFinal;
              //       feed.title = title;
              //       feed.caption = caption;
                    
              //       feed.$save().then(function(ref) {

              //         window.location.href="feed.html";

              //       }, function(error) {

              //         toaster.pop('error', "Oops something went wrong.");

              //       });

              //   };

                if(compressedImage === undefined || compressedImage === '')
                {
                    var currentImage = document.getElementById("currentImage").value;

                    if(title === undefined || title === '')
                    {
                        toaster.pop('error', "Please fill the title field.");
                        return;
                    }
                    else if(caption === undefined || caption === '')
                    {
                        toaster.pop('error', "Please fill the caption field.");
                        return;
                    }

                    toaster.pop('info', "Loading...");
                    document.getElementById("submitAddFeed").disabled = true;
                    document.getElementById("cancelAddFeed").disabled = true;

                    var feed = {
                      image: currentImage,
                      title: title,
                      caption: caption,
                      date: -currentDate.getTime()
                    }

                    var log = {
                      description: currentUser+" edited a feed.",
                      date: -currentDate.getTime(),
                    };
                    ref.child('logs').push(log);

                    ref.child('feeds').child(uid).update(feed, function(error) {
                      if (error) {
                        // Display toast here
                      } else {
                        window.location.href="feed.html";
                      }
                    });
                }
                else
                {
                    toaster.pop('info', "Loading...");
                    document.getElementById("submitAddFeed").disabled = true;
                    document.getElementById("cancelAddFeed").disabled = true;
                    // fr.readAsDataURL(filename);
                    var pos = compressedImage.indexOf(",");
                    var gambarFinal = compressedImage.substring(pos+1);

                    var feed = $firebaseObject(ref.child("feeds").child(uid));

                    var log = {
                      description: currentUser+" created a new feed.",
                      date: -currentDate.getTime(),
                    };
                    ref.child('logs').push(log);

                    feed.image = gambarFinal;
                    feed.title = title;
                    feed.caption = caption;
                    feed.date = -currentDate.getTime();

                    feed.$save().then(function(ref) {

                      window.location.href="feed.html";

                    }, function(error) {

                      toaster.pop('error', "Oops something went wrong.");

                    });
                }
                
            }

            $scope.logout = function()
            {
                var currentUser = document.getElementById("currentUser").value;
                var currentDate = new Date();
                var log = {
                  description: currentUser+" has logout.",
                  date: -currentDate.getTime(),
                };
                ref.child('logs').push(log);
                auth.$unauth();
                window.location.href = 'login.html';
            }

            var obj = $firebaseObject(ref.child('feeds').child(uid));
            obj.$loaded()
            .then(function(data) {
              $scope.feed = data;
              document.getElementById("feedPicture").src = "data:image/jpeg;base64,"+$scope.feed.image;
              document.getElementById("currentImage").value = $scope.feed.image;
            })
            .catch(function(error) {
              // Display toast here
            });

      }]);
    </script>
</body>

</html>
