<!DOCTYPE html>
<html ng-app="hore" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

</head>

<body ng-controller="LoginController" style="background:#F7F7F7;">
  <toaster-container></toaster-container>
  <div class="">
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <form ng-submit="login(user)">
            <h1>Hore Admin Area</h1>
            <div>
              <input type="text" class="form-control" placeholder="E-mail" ng-model="user.username"/>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
            </div>
            <div>
              <button type="submit" value="Log in" class="btn btn-default submit">Log in</button>
            </div>

            <div class="clearfix"></div>
            <div class="separator">
              <div class="clearfix"></div>
              <br />
              <div>
                <p>©2015 Ativesoft All Rights Reserved.</p>
              </div>
            </div>
          </form>
          <div>
            
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>

<script src="js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-datatables.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>

<!-- bootstrap progress js -->
<script src="js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- icheck -->
<script src="js/icheck/icheck.min.js"></script>

<script src="js/custom.js"></script>


<!-- Datatables -->
<script src="js/datatables/js/jquery.dataTables.js"></script>
<script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

<!-- pace -->
<script src="js/pace/pace.min.js"></script>

<script type="text/javascript">
  var app = angular.module("hore", ["firebase", "angularMoment", "ngAnimate", "toaster"]);

  app.controller("LoginController", ["$scope", "$firebaseAuth", "$firebaseArray", "$firebaseObject", "toaster",
    function($scope, $firebaseAuth,$firebaseArray, $firebaseObject, toaster) {
      var auth;
      var ref = new Firebase("https://hore-20116.firebaseio.com");
      auth = $firebaseAuth(ref);

      $scope.user = {username: "", password:""};

      $scope.login = function(user){

        if(user.username == "" || user.username == undefined)
        {
            toaster.pop('error', "Please fill the E-mail field.");
            return;
        }
        else if(user.password == "" || user.password == undefined)
        {
            toaster.pop('error', "Please fill the password field.");
            return;
        }

        auth.$authWithPassword({
          email: user.username,
          password: user.password
        }).then(function(authData) {
        var userRef = new Firebase("https://hore-20116.firebaseio.com/profiles/"+authData.uid+"/type");
        var getNameRef = new Firebase("https://hore-20116.firebaseio.com/profiles/"+authData.uid);
        var getNameObj = $firebaseObject(getNameRef);
        var obj = $firebaseObject(userRef);

        getNameObj.$loaded()
        .then(function(data) {
          var currentDate = new Date();
          var log = {
            description: data.name+" has logged in.",
            date: -currentDate.getTime()
          };

          ref.child('logs').push(log); 
        })
        .catch(function(error) {
          // Display toast here
        });

          obj.$loaded()
            .then(function(data) {

              if(data.$value == 2)
              {
                window.location.href="index.html";
              }
              else
              {
                toaster.pop('error', "You are not authorized to access this page.");
                auth.$unauth();
              }
            })
            .catch(function(error) {
              // Display toast here
            });
          
        }, function(err) {
          // console.log(err);
          toaster.pop('error', "Username or password is incorrect.");
        });
      };
      
      // auth.$onAuth(function(authData) {
      //   if (authData) {
      //     window.location.href="index.html";
      //   } else {
          
      //   }
      // });

    }]);
</script>
</body>

</html>
